<header class="profile container">
    <i class="uil uil-moon theme-control" (click)="toggle()"></i>
    <div class="profile__container grid">
        <div class="data">
            <div class="border">
                <div class="perfil">
                    <img src="./../../assets/img/profile.png" alt="">
                </div>
            </div>
            <h2 class="nome">Taui Silva</h2>
            <h3 class="prof">Desenvolvedor</h3>
            <ul class="social">
                <a href="https://www.instagram.com/tauisilva/" target="_blank" class="social-link">
                    <i class="uil uil-instagram"></i>
                </a>
                <a href="https://linkedin.com/in/taui-silva" target="_blank" class="social-link">
                    <i class="uil uil-linkedin-alt"></i>
                </a>
                <a href="https://github.com/tauisilva" target="_blank" class="social-link">
                    <i class="uil uil-github"></i>
                </a>
            </ul>
        </div>
        <div class="info grid">
            <div class="info-group">
                <h3 class="info-number">2</h3>
                <p class="info-descricao">
                    Meses de <br> estagio
                </p>
            </div>
            <div class="info-group">
                <h3 class="info-number">2</h3>
                <p class="info-descricao">
                    projetos <br> completos
                </p>
            </div>
            <div class="info-group">
                <h3 class="info-number">1</h3>
                <p class="info-descricao">
                    Cliente <br> satisfeito
                </p>
            </div>
        </div>

        <div class="btns-prof">
            <a download="" href="" class="button">
                Curriculo <i class="uil uil-file-download"></i>
            </a>

            <div class="prof-btn_small">
                <a href="https://api.whatsapp.com/send?phone=5561983369662&text=Ol%C3%A1,%20em%20que%20posso%20ajudar?" target="_blank" class="button btn-small">
                    <i class="uil uil-whatsapp"></i>
                </a>
                <a href="https://t.me/TauiS" target="_blank" class="button btn-small">
                    <i class="uil uil-telegram"></i>
                </a>
            </div>
        </div>
    </div>
</header>