<section class="grid">
    <article class="projects__card">
        <img src="../../../assets/img/projetos/araujomicro.png" alt="" class="projects-img">
        <div class="projects-modal">
            <div>
                <span class="projects-subtitle">WEB</span>
                <h3 class="project-title">Araujo Micro</h3>
                <a href="https://araujomicro.netlify.app/" class="projects__button button btn-small">
                    <i class="uil uil-link-h"></i>
                </a>
            </div>
        </div>
    </article>
    <article class="projects__card">
        <img src="../../../assets/img/projetos/paginadedemonstracao.png" alt="" class="projects-img">
        <div class="projects-modal">
            <div>
                <span class="projects-subtitle">WEB</span>
                <h3 class="project-title">Pagina de Demosntração</h3>
                <a href="https://pagina-demonstracao.netlify.app/" class="projects__button button btn-small">
                    <i class="uil uil-link-h"></i>
                </a>
            </div>
        </div>
    </article>
    <article class="projects__card">
        <img src="../../../assets/img/projetos/firmware.svg" alt="" class="projects-img">
        <div class="projects-modal em-breve">
            <div>
                <span class="projects-subtitle">WEB</span>
                <h3 class="project-title">Pagina em Construção</h3>
                <a href="https://pagina-demonstracao.netlify.app/" class="projects__button button btn-small">
                    <i class="uil uil-setting"></i>
                </a>
            </div>
        </div>
    </article>
</section>