<p>Em Construção :)</p>
<section class="skills-container grid">
    <div class="skills-area">
        <h3 class="skills-title">
            Desenvolvedor Frontend
        </h3>
        <div class="skills-box">
            <div class="skills-group">
                <div class="skills-data">
                    <i class="uil uil-check-circle"></i>
                    <div>
                        <h3 class="skills-name">HTML</h3>
                        <span class="skills-level">Avançado</span>
                    </div>
                </div>
                <div class="skills-data">
                    <i class="uil uil-check-circle"></i>
                    <div>
                        <h3 class="skills-name">CSS</h3>
                        <span class="skills-level">medio</span>

                    </div>
                </div>
                <div class="skills-data">
                    <i class="uil uil-check-circle"></i>
                    <div>
                        <h3 class="skills-name">Javascript</h3>
                        <span class="skills-level">basico</span>

                    </div>
                </div>
            </div>

            <div class="skills-group">
                <div class="skills-data">
                    <i class="uil uil-check-circle"></i>
                    <div>
                        <h3 class="skills-name">Angular</h3>
                        <span class="skills-level">Basic</span>
                    </div>
                </div>
                <div class="skills-data">
                    <i class="uil uil-check-circle"></i>
                    <div>
                        <h3 class="skills-name">Bootstrap</h3>
                        <span class="skills-level">medio</span>

                    </div>
                </div>
                <div class="skills-data">
                    <i class="uil uil-check-circle"></i>
                    <div>
                        <h3 class="skills-name">Git</h3>
                        <span class="skills-level">Basic</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills-area">
        <h3 class="skills-title">
            Desenvolvedor Backend
        </h3>
        <div class="skills-box">
            <!-- <div class="skills-group">
            <div class="skills-data">
                <i class="uil uil-check-circle"></i>
                <div>
                    <h3 class="skills-name">HTML</h3>
                    <span class="skills-level">Avançado</span>
                </div>
            </div>
            <div class="skills-data">
                <i class="uil uil-check-circle"></i>
                <div>
                    <h3 class="skills-name">CSS</h3>
                        <span class="skills-level">medio</span>
                    
                </div>
            </div>
            <div class="skills-data">
                <i class="uil uil-check-circle"></i>
                <div>
                    <h3 class="skills-name">Javascript</h3>
                        <span class="skills-level">basico</span>
                    
                </div>
            </div>
        </div>

        <div class="skills-group">
            <div class="skills-data">
                <i class="uil uil-check-circle"></i>
                <div>
                    <h3 class="skills-name">Angular</h3>
                    <span class="skills-level">Basic</span>
                </div>
            </div>
            <div class="skills-data">
                <i class="uil uil-check-circle"></i>
                <div>
                    <h3 class="skills-name">Bootstrap</h3>
                        <span class="skills-level">medio</span>
                    
                </div>
            </div>
            <div class="skills-data">
                <i class="uil uil-check-circle"></i>
                <div>
                    <h3 class="skills-name">Git</h3>
                        <span class="skills-level">Basic</span>
                    
                </div>
            </div>
        </div> -->
            <p>Em Breve :)</p>
        </div>
    </div>


</section>